<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.findr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Findr">
        <activity
            android:name=".MessagingPage"
            android:exported="false" />
        <activity
            android:name=".RequestsPage"
            android:exported="false" />
        <activity
            android:name=".ComposeMessagePage"
            android:exported="false" />
        <activity
            android:name=".ChatPage"
            android:exported="false" />
        <activity
            android:name=".Matches"
            android:exported="false" />
        <activity
            android:name=".InterestAddPage"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>